---
title: About
component: ContentPage
---
p.
  Wikirefs is a service that allows you to return the references for any given wikipedia page.
  This kind of information is particular interesting if one is looking to discover not just information but how information came about.
p.
  TO DO:

ul
 li Add reference dates